/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";

.navtop{
    margin-left: 40px;
    font-size: 20px;

}

.count {
  color: red;
}
.depot_form {
  fieldset {
  // background: #efe;
  legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
  }
  }
  form {
  label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
  }
  select, textarea, input {
  margin-left: 0.5em;
  }
  .submit {
  margin-left: 4em;
  }
  br {
  display: none
  }
  }
}

// #body{
//     background-color: gainsboro;
// }
// .top{
//     color: white;
//     background-color: black;
//     padding: 1px;
// }
// .input-field input[type=search] {
//   display: block;
//   line-height: inherit;
//   padding-left: 4rem;
//   width: calc(100% - 4rem);
// }
// .input-field {
//   position: relative;
//   min-width: 300px;
// 	overflow: hidden;
//   margin-top: 1rem;
// }
// .input-field input[type=search] ~ .mdi-navigation-close {
//   position: absolute;
//   top: 0;
//   right: 1rem;
//   color: transparent;
//   cursor: pointer;
//   font-size: 2rem;
//   transition: .3s color;
// }
// .top2{
//     padding: 10px;
//     margin-top: 10px;
//     font-size: 19px;
// }
// .navtop{
//     margin-left: 40px;
//
// }
// .cardimage{
//   background-size: cover;
// }
