/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



@import "bootstrap-sprockets";
@import "bootstrap";

 #body{
     background-color: gainsboro;
 }
.deal-text {
  text-transform: capitalize;

  height: 50px;
  display: inline;
  p {

  }
}
 .company {
   text-align: justify;
 }
 .button-buy {
   background-color: orange;
 }
 .top{
     color: white;
     background-color: black;
     padding: 1px;
 }
 .card-block{
   padding: 0px;
 }
 .deal-image {
   max-width: 360px;
 }

 .input-field input[type=search] {
   display: block;
   line-height: inherit;
   padding-left: 4rem;
   width: calc(100% - 4rem);
 }
 .input-field {
   position: relative;
   min-width: 300px;
 	overflow: hidden;
   margin-top: 1rem;
 }
 .input-field input[type=search] ~ .mdi-navigation-close {
   position: absolute;
   top: 0;
   right: 1rem;
   color: transparent;
   cursor: pointer;
   font-size: 2rem;
   transition: .3s color;
 }
 .top2{
     padding: 10px;
     margin-top: 10px;
     font-size: 19px;
 }
 .navtop{
     margin-left: 40px;

 }

 .card-medium {
   margin-top: 10px;
 }
 p, div.price_line {
 margin-left: 100px;
 margin-top: 0.5em;
 margin-bottom: 0.8em;

 form, div {
   display: inline;
   }
 }
 .card {
   height: 400px;
 }

.navtop{

    font-size: 20px;

}

.count {
  color: red;
}
.depot_form {
  fieldset {
  // background: #efe;
    legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
    }
  }
  form {
    label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
    }
    select, textarea, input {
    margin-left: 0.5em;
    }
    .submit {
    margin-left: 4em;
    }
    br {
    display: none
    }
  }
}

.btn.email {
  text-transform: lowercase;
}

#body{
    background-color: rgba(0, 0, 0, 0.65);;
}
.top{
    color: white;
    background-color: black;
    padding: 1px;
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}
.input-field {
  position: relative;
  min-width: 300px;
	overflow: hidden;
  margin-top: 1rem;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
.top2{
    padding: 10px;
    margin-top: 10px;
    font-size: 19px;
}
.navtop{
    margin-left: 40px;

}
.cardimage{
  background-size: cover;
}
#notice {
  color: green;
  
}
